---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title="Blog">
  <main
    class="main-container w-full h-screen text-center flex justify-center items-center"
  >
    <section class="flex flex-col text-center gap-5"></section>
  </main></Layout
>
